div.basket.basket--closed
  div.basket-content
    div.basket-content-header
      div.basket-content-header__title Basket
      button.basket-content-header__close-button
        <svg viewBox="0 0 24 24" ><path d='M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z'></path></svg>
    div.basket-content-main
      nb-skeleton(height='200px',width='100%',count='2')
    div.basket-content-submit
      div.basket-content-submit__total
        p.basket-content-submit__total-caption  Total:
        div.basket-content-submit__total-value 
          nb-skeleton(height='32px',width='100px',count='1')
      a.basket-content-submit__button-to-checkout.button--contained(href='/pages/checkout.html') Submit
