div.compare-dialog.compare-dialog--closed
    div.compare-content
      div.compare-content__title 
        p Compare
        button.compare-content__title-close-button
          include ../svgs/close.svg

      div.compare-content__table
          nb-skeleton(height='80px',width='100%',count='4')
