div.searching-dialog.searching-dialog--closed
    div.searching-content
      div.searching-content__title 
        p Search something
        button.searching-content__title-close-button
          include ../svgs/close.svg

      div.searching-content-search
        input.searching-content-search__input.input(placeholder='Search...')
        button.searching-content-search__svg-container
          include ../svgs/search.svg
        div.searching-content-search__result
