@import './global.scss';

.basket {
  @include dialog;
  &--closed {
    display: none;
  }

  &-content {
    display: flex;
    flex-direction: column;
    background-color: $background;
    min-width: 42vw;
    &-header {
      padding: 0.42rem 0.8rem;
      @include space-between_flex;
      align-items: center;
      border-bottom: 1px solid $light-grey;
      &__title {
        font-family: 'Jost';
        font-size: 1.8rem;
      }
      &__close-button {
        svg {
          width: 1.8rem;
          & path {
            fill: $text-secondary;
          }
          &:hover path {
            fill: $primary;
          }
        }
      }
    }

    &-main {
      display: flex;
      flex-direction: column;
      padding: 0 1.42rem 1rem;
      &__product-item {
        padding: 2rem 0rem;
        border-bottom: 1px solid $light-grey;
        @include space-between_flex;
        gap: 1rem;

        @media screen and (max-width: $md) {
          flex-direction: column;
          &-content {
            gap: 1rem;
          }
        }

        &__preview-img {
          width: 200px;
          aspect-ratio: 1;
          @media screen and (max-width: $sm) {
            width: 100%;
          }
        }
        &-content {
          @include space-between_flex;
          flex-direction: column;
          width: 100%;
          font-family: 'Jost';
          &__header {
            @include space-between_flex;
            gap: 1rem;
            &-title {
              font-size: 1.42rem;
            }
            &-delete-button {
              transition: cubic-bezier(0.86, 0, 0.07, 1) 0.16s all;
              border: 1px solid $light-grey;
              padding: 0.4rem;
              svg {
                width: 1.6rem;
                path {
                  transition: cubic-bezier(0.86, 0, 0.07, 1) 0.16s all;

                  fill: $input-border-color;
                }
              }
              &:hover {
                border-color: red;
                path {
                  fill: red;
                }
              }
            }
          }
          &__utils {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;

            @media screen and (max-width: $xm) {
              flex-direction: column;
              & > div,quantity-counter {
                width: 100%;
                justify-content: center;
              }
            }

            &-total-price {
              order: 3;
            }
            &-price,
            &-total-price {
              border: 1px solid $light-grey;
              padding: 0.6rem 1.2rem;
              &__value {
                font-weight: 600;
              }
              gap: 0.8rem;
              display: flex;
            }
          }
        }
      }
    }
    &-submit {
      padding: 1rem;
      &__total {
        border: 1px solid $light-grey;
        display: flex;
        padding: 0.6rem 1.2rem;
        align-items: center;
        gap: 0.42rem;
        font-family: 'Jost';
        --skeleton-margin-bottom: -8px;

        &-value {
          font-weight: 600;
          font-size: 1.42rem;
        }
      }
      &__button-to-checkout {
        font-size: 1.24rem !important;
        border-color: $text-secondary !important;
        &:hover {
          border-color: $primary !important;
        }
      }
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: flex-end;
    }
  }
}
