@import './global.scss';

header {
  z-index: 100;
  .menu-button {
    background-color: $header-utils-bgcolor;
    position: relative;
    display: none;
  }

  width: 100%;
  flex-direction: column;

  @include centered_flex;
  & .utils {
    width: 100%;
    @include centered_flex;

    background-color: $header-utils-bgcolor;

    &-row {
      padding: 0.42rem 0;
      @include space-between_flex;
      &__contact-info {
        display: flex;
        & svg {
          & path {
            fill: $text-secondary;
          }
        }
        &__email {
          padding-left: 2rem;
          margin-left: 2rem;
          border-left: 2px solid $text-secondary;
          display: flex;
          align-items: center;
          gap: 0.42rem;
          p {
            font-family: 'Jost';
          }
        }
      }
      &__utils {
        font-family: 'Jost';
      }
    }
  }
  .wrapper {
    width: 100%;
    flex-direction: column;
    display: flex;
  }

  & .main {
    width: 100%;
    @include centered_flex;
    &-row {
      @include space-between_flex;
      &__links {
        display: flex;
        gap: 1rem;
        &__link-wrapper {
          cursor: pointer;
          @include centered_flex;
          padding: 0.42rem;
          height: 4rem;
          position: relative;
          &:hover {
            &::before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              width: 100%;
              height: 4px;
              background-color: $text-secondary;
            }
          }
          &--active {
            color: $primary;
            &::before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              width: 100%;
              height: 4px;
              background-color: $primary;
            }
          }
        }

        a {
          font-size: 1.2rem;
          font-family: 'Jost';
        }
      }
      &__logo {
        @include centered_flex;

        & svg {
          width: 10rem;
          & path {
            fill: $text-secondary;
          }
        }
      }
      &__utils {
        display: flex;
        align-items: center;
        gap: 1rem;
        &-hotline {
          display: flex;
          gap: 0.42rem;
          & p {
            font-family: 'Jost';
          }
          & .phone-number {
            font-weight: 600;
          }
        }
        &-buttons-container {
          display: flex;
          gap: 0.42rem;
        }
      }
    }
  }
  @media screen and (max-width: $md) {
    @include centered_flex;
    position: fixed;
    inset: 0;
    background-color: transparent;

    &.closed {
      .wrapper {

        display: none;
      }
    }
    &.open {
    background-color: #000000cc;

      .wrapper {
        width: auto;
        flex-direction: column-reverse;

        .utils-row {
          flex-direction: column-reverse;
          padding-bottom: 1rem;
          gap: 0.8rem;
          & > div {
            @include centered_flex;
          }
          &__utils {
border-bottom: 1px solid $light-grey;
border-top: 1px solid $light-grey;
padding: 0.42rem 0;
          }
        }
        background-color: $header-utils-bgcolor;
        display: flex;
      }

      .main-row {
        flex-direction: column-reverse;
        align-items: center;
        padding: 1rem 0;
        &__logo {
          margin: 1rem 0;
          order: 3;
        }
        &__links {
          gap: 0;
          flex-direction: column;
        }
      }
    }

    .menu-button {
      top: 8px;
      padding: 0.42rem;
      @include centered_flex;
      &:hover {
        cursor: pointer;
        & path {
          fill: $primary;
        }
      }
      & svg {
        width: 2rem;
      }
      right: 8px;
      border-radius: 50%;
      & path {
        transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.16s all;
        fill: $text-secondary;
      }
      position: fixed;
    }
    position: fixed;
  }
}
