@import './global.scss';


.searching {
  &-dialog {
    @include dialog;

    &--closed {
      display: none;
    }
  }
  &-content {
    &__title {
      font-family: 'Jost';
      padding: 0.42rem 0;
      @include space-between_flex;
      &-close-button {
        & svg {
          width: 2rem;
        }
        &:hover {
          & path {
          fill: $primary;
          }
        }
      }
      font-size: 1.6rem;
      font-weight: 500;
    }
    padding: 0.42rem 1rem;
    background-color: $background;
    &-search {
      margin-bottom: 0.42rem;
      & input {
        font-size: 1.42rem;
        min-width: 360px;
      }
    }
  }
}
