@import './global.scss';
main {
  flex-grow: 1;
  margin: auto;
  position: relative;

  h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    font-family: monospace;
    font-size: 4rem;
    transform: translate(-50%, -50%);
  }
  [content] {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.42rem;
    * {
      font-family: 'Jost';
    }
    [item] {
      gap: 0.8rem;
      display: flex;
      align-items: center;
    }
    [item_key] {
      font-weight: 600;
      font-size: 1.42rem;
    }
    [item_value] {
      font-size: 1.42rem;
    }
    [order_list] {
      display: flex;
      flex-wrap: wrap;
      gap: 0.42rem;

      & > div {
        width: calc(50% - 0.42rem);
      }
      @media screen and (max-width: $md) {
        & > div {
          width: 100%;
        }
      }
      @media screen and (min-width: $xl) {
        & > div {
          width: calc(33% - 0.42rem);
        }
      }
    }
  }
}
