@import './global.scss';

.product-details-content {
  a {
    font-weight: 600;
    font-size: 1.08rem;
    &:hover {
      text-decoration: underline;
    }
  }

  width: 100%;
  display: flex;
  gap: 4rem;
  font-family: 'Jost';
  & > div {
    width: 50%;
  }

  @media screen and (max-width: $md) {
    flex-direction: column;
    & > div {
      width: 100%;
    }
  }
  @media screen and (max-width: $sm) {
    & div {
      align-items: center;

      text-align: center;
    }
  }

  &__product-gallery {
    &__main-img {
      @include centered_flex;
      width: 100%;
      margin-bottom: 2px;
    }
    &__tabs {
      @include space_between_flex;

      flex-wrap: nowrap;
      & img {
        aspect-ratio: 1;
        filter: saturate(0.4);
      }
      & img:hover {
        filter: saturate(1);

        cursor: pointer;
      }
      & .active {
        filter: saturate(1);

        border: 4px solid $primary;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    &-acticle {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      &__caption {
        font-size: 3.2rem;
        font-weight: 500;
      }

      &__stars {
        display: flex;
        align-items: center;
        gap: 1rem;
        &-denotation {
          color: $input-border-color;
        }
      }
      &__price {
        font-size: 2rem;
        font-weight: 500;
      }
      padding-bottom: 1rem;
      border-bottom: 1px solid $light-grey;
    }
    &-denotation {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      &__text {
        color: $text-thirdly;
      }
      padding: 2rem 0;
    }
    &-utils {
      padding-bottom: 2rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      border-bottom: 1px solid $light-grey;
      & button {
        @include centered_flex;
        padding: 0;
      }
      & > button {
        border: 1px solid $light-grey;
        padding: 0.6rem;
        &:hover {
          border-color: $primary;
          path {
            fill: $primary;
          }
        }
        & svg {
          width: 1.42rem;
          path {
            fill: $text-secondary;
          }
        }
      }
      &__quantity {
        display: flex;
        gap: 1rem;

        p {
          @include centered_flex;
        }
      }
      &__add-to-cart-button {
        padding: 0.8rem 1.2rem !important;
        font-weight: 500;

        letter-spacing: 2px;
        background-color: $text-secondary;
        color: $background;

        &:hover {
          background-color: $primary;
        }
      }
    }
    &-extended {
      margin: 2rem 0;

      &__tabs {
        display: flex;
        flex-direction: column;
        gap: 1.42rem;

        &-title-row {
          gap: 2rem;
          display: flex;
        }
        &-title {
          transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.16s all;
          font-size: 1.24rem;
          font-weight: 500;
          padding: 0;
          color: $input-border-color;
          &--active {
            color: $text-secondary;
          }
          &:hover {
            color: $primary;
          }
        }

        &-content {
          .desciption {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
          }
          p {
            color: $text-thirdly;
          }

          .review {
            display: flex;
            flex-direction: column;
            gap: 0.42rem;
            :first-child {
              p {
                font-weight: 600;
              }
              align-items: center;
              @include space_between_flex;
            }
            .rating {
              display: flex;
              font-size: 0;
            }
            .rating span {
              font-size: 2rem;
            }
            .rating span::before {
              content: '☆';
            }
            .rating span.active::before {
              content: '★';
            }
            .rating span:hover {
              cursor: pointer;
            }

            form {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              gap: 0.42rem;
              input {
                width: calc(50% - 0.21rem);
              }
              textarea {
                width: 100%;
              }
              button {
                margin-left: auto;
              }
            }
          }

          .additional-info {
            &__caption {
              font-weight: 500;
              font-size: 1.08rem;
              text-transform: capitalize;
            }
            & > div {
              display: flex;
              gap: 10px;
            }
            &__value {
              font-size: 1.08rem;
            }
          }
        }
      }
    }
  }
}
