$header-utils-bgcolor: #fceee7;
$text-secondary: #111;
$text-thirdly: #333;
$primary: #88b13e;
$background: #fff;
$ping: #ff95d3;
$yellow: #fec200;
$blue: #a2d4eb;
$red: #e32d2d;
$star-color: #fda72f;
$input-border-color: #888888;
$pink-white: #fff2f2;
$light-grey: #dddddd;



