@import './fonts.scss';
@import './breakpoints.scss';
@import './scrollbar.scss';

@mixin centered_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin space-between_flex {
  display: flex;
  justify-content: space-between;
}

@mixin button_nullity {
  background-color: transparent;
  display: grid;
  width: fit-content;
  border: none;
  // padding: 0;

  outline: none;
  font-family: 'Jost';
  place-items: center;
  &:hover {
    cursor: pointer;
  }
}

@mixin button_normalize {
  @include button_nullity;

  transition: 0.24s ease-in all;
  text-transform: uppercase;
}

button {
  @include button_nullity;
}

.button {
  @include button_normalize;
  letter-spacing: 4px;
  padding: 1em 2em;
  border: 1px solid $background;
  color: $background;
  &:hover {
    background-color: $background;
    color: $text-secondary;
  }
  &--contained {
    @include button_normalize;

    font-size: 1rem;
    padding: 0.6em 1.2em;

    font-weight: 600;
    letter-spacing: 1px;

    background-color: $background;
    color: $text-secondary;
    border: 1px solid transparent;

    &:hover {
      border-color: currentColor;

      color: $primary;
    }
  }
}

.icon-button {
  @include button_normalize;
  border-radius: 50%;
  width: 2.8em;
  border: 1px solid transparent;
  height: 2.8em;
  transition: 0.42s ease all;
  &:hover {
    background: $primary;
    border-color: $text-secondary;
  }
  & svg {
    width: 1.8em;
    height: 1.8em;
  }
}

.with-label {
  position: relative;
  &::before {
    font-family: 'Jost';
    content: attr(data-label);
    position: absolute;
    display: grid;
    border: 1px solid $background;

    place-items: center;
    top: -0.42rem;
    right: -0.42rem;
    width: 1.42rem;
    height: 1.42rem;
    color: $background;
    border-radius: 50%;
    background-color: $primary;
  }
}

.input {
  font-family: 'Jost';
  outline: none;
  color: $text-secondary;
  background: none;
  border: 1px solid $input-border-color;
  padding: 0.92rem;
}

.button-outlined {
  padding: 0.42rem;
  @include button_normalize;
  color: $text-secondary;
  background-color: $background;
  border-color: currentColor;

  &--active {
    background-color: $primary;
    color: $background;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  overflow-x: hidden;
  margin: 0;
  & div img {
    width: 100%;
    object-fit: cover;
  }
}

.container {
  // @media screen and (min-width: $xl) {
  // width: 60vw;
  // }

  @media screen and (min-width: $xl) {
    width: 66vw;
  }

  @media screen and (max-width: $xl) {
    width: 72vw;
  }
  @media screen and (max-width: $lg) {
    width: 80vw;
  }

  @media screen and (max-width: $md) {
    width: 80vw;
  }
  @media screen and (max-width: $sm) {
    width: 92vw;
  }
  @media screen and (max-width: $xs) {
    width: 88vw;
  }
}
