@import './global.scss';

.shop {
  margin: 4rem auto;
  * {
    font-family: 'Jost';
  }
  display: flex;
  gap: 2.8rem;
  &__sidebar {
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & .sidebar-container-of-filter-button {
      & button {
        width: 100%;
        border-color: currentColor;
        font-size: 1.24rem;
      }
    }
    &-search {
      position: relative;
      display: flex;
      width: 100%;
      align-items: center;
      &__input {
        width: 100%;

        padding-left: 2.8rem !important;
      }
      & svg {
        color: $text-thirdly;
        width: 2rem;
        position: absolute;
        left: 0.42rem;
      }
    }
    &-utils {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &__item {
        display: flex;
        flex-direction: column;
        gap: 1.42rem;
        // --skeleton-margin-bottom: 0px;

        &-title {
          font-weight: 700;

          font-size: 1.42rem;
        }
        & .sidebar-content-of-product-categories {
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
          &__item {
            font-size: 1.08rem;
            color: $input-border-color;
            &:hover {
              color: $text-thirdly;
              cursor: pointer;
            }
            &--active {
              color: $primary;
            }
          }
        }
        & .sidebar-content-of-filter-by-price {
          display: flex;
          flex-direction: column;
          gap: 1.42rem;
          &__caption {
            color: $input-border-color;
          }
          & > div {
            display: flex;
            gap: 0.42rem;
            width: 100%;
            double-range,
            nb-skeleton {
              width: 100%;
            }
          }
        }

        & .sidebar-content-of-filter-by-color {
          width: 100%;

          nb-skeleton {
            width: 100%;
          }
          display: flex;
          gap: 0.42rem;
          &__item {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;

            filter: grayscale(1);
            border: 1px solid transparent;

            transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.16s all;
            &:hover {
              cursor: pointer;
              filter: grayscale(0.2);
            }
            &--active {
              border: 1px solid $primary;
              filter: grayscale(0);
            }
          }
        }
        & .sidebar-content-of-filter-by-size {
          width: 100%;

          nb-skeleton {
            width: 100%;
          }
          display: flex;
          gap: 0.42rem;
          & button {
            padding: 0.42rem 0.8rem;
            font-size: 1rem;
            color: $input-border-color;
            border: 1px solid currentColor;
            &:hover {
              color: $text-thirdly;
            }
          }
          &__item--active {
            background-color: $primary;
            color: $background;
          }
        }
      }
    }
  }
  &__products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: calc(100% - 240px);
    &-utils {
      display: flex;
      justify-content: flex-end;
      gap: 40px;
      --skeleton-margin-bottom: 0px;
      &__result-counter {
        font-size: 1.24rem;
        display: flex;
        align-items: center;
      }

      width: 100%;

      &__content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.42rem;
        & > button {
          padding: 0.42rem;
          @include centered_flex;

          border: 1px solid $input-border-color;
          & svg {
            width: 1.42rem;
            & path {
              fill: $text-thirdly;
            }
          }
          &:hover {
            border-color: $text-thirdly;
          }
        }
        & .button--active {
          background-color: $primary;
          border-color: $primary !important;
          & path {
            fill: $background;
          }
        }
      }
    }
    &-row {
      display: flex;
      justify-content: center;

      flex-wrap: wrap;
      gap: 1.42rem;
    }
    &-pagination {
      display: flex;
      gap: 0.42rem;
      justify-content: center;
      &__button {
        font-weight: 800;
        transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.16s all;
        & path {
          fill: currentColor;
        }
        color: $input-border-color;
        border: 1px solid currentColor;
        font-size: 1rem;
        width: 2.8rem;
        height: 2.8rem;
        &:hover {
          color: $text-thirdly;
        }
        &--active {
          background-color: $primary;
          color: $background;
          border-color: $primary;
          &:hover {
            color: $background;
            cursor: default;
          }
        }
      }
    }
  }
}
