section(class='introduction')
      div(class='glide')
        div(class="glide__bullets" data-glide-el="controls[nav]")
          button(class="glide__bullet", data-glide-dir="=0")
          button(class="glide__bullet", data-glide-dir="=1")
          button(class="glide__bullet",data-glide-dir="=2")
        div(data-glide-el="track",class="glide__track")
          ul(class="glide__slides")
            li(class="glide__slide container") 
              div(class='glide__slide-content')
                div(class='glide__slide-content__caption') Made With Love
                div(class='glide__slide-content__title') Pastery Specialtties With 100% Chocolate
                div(class='glide__slide-content__text') Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div(class='glide__slide-content__button button') Show now
              div(class='glide__slide-abstraction')
                  include ../../svgs/shoping.pug
        svg(xmlns="http://www.w3.org/2000/svg" ,viewBox="0 0 1440 320" class='wave')
          path( d="M0,128L24,160C48,192,96,256,144,277.3C192,299,240,277,288,240C336,203,384,149,432,160C480,171,528,245,576,240C624,235,672,149,720,117.3C768,85,816,107,864,117.3C912,128,960,128,1008,122.7C1056,117,1104,107,1152,122.7C1200,139,1248,181,1296,192C1344,203,1392,181,1416,170.7L1440,160L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z")
      