section(class='specical-products')
  div(class='container specical-products-row')
    div(class='specical-products__preview')
      img(src= require(`@assets/food6.jpeg`).default)

    div(class='specical-products__content')
      div(class=' specical-products__content-header')
        div(class=' specical-products__content-header__title') Specical Products
        time-left
      div(class='specical-products__content-products')
