html
  head
    meta(charset="UTF-8")
  body 
    main
      div.toast
      div.editing_dialog
      div.new_category_dialog
      div.new_product_dialog
      div.categories_menu
      div.list_of_open_orders
      div.list_of_parent_categories


      div.utils
        div.utils__title Admin  Utils

        div.utils__search
          input.utils__search-input.input(placeholder='Search products...')
          button.utils__search-svg-container
            include ../svgs/search.svg
          div.utils__search-result
        button.utils__open-orders-list.button--contained    List of  orders
        button.utils__add-product-button.button--contained  Add new product
        button.utils__add-category-button.button--contained  Add new category
        button.utils__open_list_of_parent_category_button.button--contained Parent categories

