html
  head
    meta(charset="UTF-8")
  body 
    main
      div.utils
        div.utils__title Utils
        div.utils__search
          input.utils__search-input.input(placeholder='Search...')
          button.utils__search-svg-container
            include ../svgs/search.svg
        div.utils__add-category-button
        div.utils__add-product-button
