html
  head
    meta(charset="UTF-8")
  body 
    main
      div.toast
      div.title Authentication
      form.form
        input.form__input.input(placeholder='Login',type='text',name='login')
        input.form__input.input(placeholder='Password',type='password',name='password')
        button.form__submit-button.button--contained submit