html
  head
    meta(charset="UTF-8")
    script(src="/checkout.js")
  body 
    include ../includes/_header.pug
    include ../mixins/+breadcrumb.pug
    +breadcrumb('Check out')
    div.toast.toast--closed
    main.container
      div.form
        div.form-contact-info
          div.form-contact-info__article.article
            div.article-subtitle Contact information
            div.article-denonatation
              div.article-denonatation__text Already have an account? Already have an account
              a.article-denonatation__button-log-in(href='login') Log in
          div.form-contact-info__utils
            button.form-contact-info__utils-button-change-contact-variant
              include ../svgs/email.pug

            input.form-contact-info__utils-email-or-phone-input.input.full-width(placeholder='Email or phone number')
            include ../mixins/+givemeinfo.pug
            +givemeinfo()
        div.form-shipping-adress
          div.form-shipping-adress__article.article 
            div.article-subtitle  Shipping address
          div.form-shipping-adress__utils
            div.form-shipping-adress__utils__diver
              input.form-contact-info__utils-first-name-input.input(placeholder='First name',name="firstname",type="text")
              input.form-contact-info__utils-last-name-input.input(placeholder='Last name',name="lastname",type="text")
            input.form-contact-info__utils-adress-input.input.full-width(placeholder='Adress',name="adress",type="text")
            input.form-contact-info__utils-adress-adittional-input.input.full-width(placeholder='Apartmentt, suite, etc',type="text")
            select.form-contact-info__utils-city-select.input.full-width.select
              option(value='placeholder') City
              option(value='Kyiv') Kyiv
              option(value='Nothing') Nothing
            div.form-shipping-adress__utils__diver
              input.form-contact-info__utils-country-or-region-input.input(placeholder='Coundtry/Region')
              input.form-contact-info__utils-postal-code-input.input(placeholder='Postal code')
            +givemeinfo()
        button.button-move-to-payment.button--contained To payment
        //- button.submit-order-button.button--contained submit  Order
      div.inference
        div.inference-products
            nb-skeleton(height='100px',width='100%',count='4')

        div.inference-price
          div.inference-price__details
            div.inference-price__details__item
              div.inference-price__details__item-caption Subtotal
              div.inference-price__details__item-value.checkout-subtotal-value 
                nb-skeleton(width='100px',height='24px')

            div.inference-price__details__item
              div.inference-price__details__item-caption Shipping
              div.inference-price__details__item-value 
                nb-skeleton(width='100px',height='24px')

            div.inference-price__details__item
              div.inference-price__details__item-caption Taxes
              div.inference-price__details__item-value.checkout-taxes-value 
                nb-skeleton(width='100px',height='24px')

          div.inference-price__total
            div.inference-price__total-caption Total 
            div.inference-price__total-price
              div.inference-price__total-price__currency USD
              div.inference-price__total-price__value.checkout-total-value   
                nb-skeleton(width='100px',height='24px')

    include ../includes/_footer.pug
    include ../includes/_payment_dialog.pug

