html
  head
    meta(charset="UTF-8")
  body 
    include ../includes/_header.pug
    include ../mixins/+breadcrumb.pug
    +breadcrumb('Check out')
    div.toast.toast--closed
    main.container
      form.form
        div.form-contact-info
          div.form-contact-info__article.article
            div.article-subtitle Contact information
            div.article-denonatation
              div.article-denonatation__text Already have an account? Already have an account
              a.article-denonatation__button-log-in(href='login') Log in
          div.form-contact-info__utils
            button.form-contact-info__utils-button-change-contact-variant
              include ../svgs/email.svg

            input.form-contact-info__utils-email-or-phone-input.input.full-width(placeholder='Email or phone number')
            include ../mixins/+givemeinfo.pug
            +givemeinfo()
        div.form-shipping-adress
          div.form-shipping-adress__article.article 
            div.article-subtitle  Shipping address
          div.form-shipping-adress__utils
            div.form-shipping-adress__utils__diver
              input.form-contact-info__utils-first-name-input.input(placeholder='First name',name="firstname",type="text")
              input.form-contact-info__utils-last-name-input.input(placeholder='Last name',name="lastname",type="text")
            input.form-contact-info__utils-adress-input.input.full-width(placeholder='Adress',name="adress",type="text")
            input.form-contact-info__utils-adress-adittional-input.input.full-width(placeholder='Apartmentt, suite, etc',type="text",name='addition_info')
            select.form-contact-info__utils-city-select.input.full-width.select(name='city')
              option(value='placeholder') City
              option(value='Kyiv') Kyiv
              option(value='Nothing') Nothing
            div.form-shipping-adress__utils__diver
              input.form-contact-info__utils-country-or-region-input.input(placeholder='Coundtry/Region',name='country')
              input.form-contact-info__utils-postal-code-input.input(placeholder='Postal code',name='postal_code')
            +givemeinfo()
        button.button-move-to-payment.button--contained To payment
      div.inference
        div.inference-products
            nb-skeleton(height='100px',width='100%',count='4')

        div.inference-price
          div.inference-price__details
              - const inferencePriceDetailsArr = [{class:'checkout-subtotal-value ',caption:'Subtotal'},{class:'checkout-shipping-value ',caption:'Shipping'},{class:'checkout-taxes-value  ',caption:'Taxes'}]
                each item in inferencePriceDetailsArr
                  div.inference-price__details__item
                    div.inference-price__details__item-caption  #{item.caption}
                    div(class=`${item.class} inference-price__details__item-value`)
                      nb-skeleton(width='100px',height='24px')

          div.inference-price__total
            div.inference-price__total-caption Total 
            div.inference-price__total-price
              div.inference-price__total-price__currency USD
              div.inference-price__total-price__value.checkout-total-value   
                nb-skeleton(width='100px',height='24px')

    include ../includes/_footer.pug
    include ../includes/_payment_dialog.pug

