html
  head
    meta(charset="UTF-8")
    script(src="/checkout.js")
  body 
    include ../includes/_header.pug
    include ../mixins/+breadcrumb.pug
    +breadcrumb('Check out')

    main.container
      div.form
        div.form-contact-info
          div.form-contact-info__article.article
            div.article-subtitle Contact information
            div.article-denonatation
              div.article-denonatation__text Already have an account? Already have an account
              a.article-denonatation__button-log-in(href='login') Log in
          div.form-contact-info__utils
            button.form-contact-info__utils-button-change-contact-variant
              include ../svgs/email.pug

            input.form-contact-info__utils-email-or-phone-input.input.full-width(placeholder='Email or phone number')
            include ../mixins/+givemeinfo.pug
            +givemeinfo()
        div.form-shipping-adress
          div.form-shipping-adress__article.article 
            div.article-subtitle  Shipping address
          div.form-shipping-adress__utils
            div.form-shipping-adress__utils__diver
              input.form-contact-info__utils-first-name-input.input(placeholder='First name',name="firstname",type="text")
              input.form-contact-info__utils-last-name-input.input(placeholder='Last name',name="lastname",type="text")
            input.form-contact-info__utils-adress-input.input.full-width(placeholder='Adress',name="adress",type="text")
            input.form-contact-info__utils-adress-adittional-input.input.full-width(placeholder='Apartmentt, suite, etc',type="text")
            input.form-contact-info__utils-city-input.input.full-width(placeholder='City',type="text")
            div.form-shipping-adress__utils__diver
              input.form-contact-info__utils-country-or-region-input.input(placeholder='Coundtry/Region')
              input.form-contact-info__utils-postal-code-input.input(placeholder='Postal code')
            +givemeinfo()
        button.button-move-to-payment.button--contained To payment
        //- button.submit-order-button.button--contained submit  Order
      div.inference
        div.inference-products
          - var placeholderIdx = 1;
            while placeholderIdx < 8
              div.inference-products__item
                div.inference-products__item-content
                  div.inference-products__item-content__img-wrapper
                    img(src= require(`@assets/food${placeholderIdx++}.jpeg`).default)

                  div.inference-products__item-content__details
                    div.inference-products__item-content__details-title Title #{placeholderIdx}
                    div.inference-products__item-content__details-weight #{placeholderIdx / 4}kg

                div.inference-products__item-price $#{placeholderIdx}0.0


        div.inference-price
          div.inference-price__details
            div.inference-price__details__item
              div.inference-price__details__item-caption Subtotal
              div.inference-price__details__item-value $36.0
            div.inference-price__details__item
              div.inference-price__details__item-caption Shipping
              div.inference-price__details__item-value Calculated at next step
            div.inference-price__details__item
              div.inference-price__details__item-caption Taxes
              div.inference-price__details__item-value $3.60  
          div.inference-price__total
            div.inference-price__total-caption Total 
            div.inference-price__total-price
              div.inference-price__total-price__currency USD
              div.inference-price__total-price__value $42.0

    include ../includes/_footer.pug
