html
  head
    meta(charset="UTF-8")
    script(src="index.js")
  body 
    include ../includes/_header.pug
    include ../includes/index/_introduction.pug
    include ../includes/index/_categories.pug
    include ../includes/index/_banner.pug
    include ../includes/index/_specical-products.pug
    include ../includes/index/_workshop.pug
    include ../includes/index/_feature-products.pug
    include ../includes/index/_gallery.pug
    include ../includes/index/_benefit.pug
    include ../includes/index/_call-to-action.pug
    include ../includes/index/_contact.pug
    include ../includes/_footer.pug











