html
  head
    meta(charset="UTF-8")
  body 
    include ../includes/_header.pug
    include ../mixins/+breadcrumb.pug
    +breadcrumb('Shop') 
    main.shop.container
      div.shop__sidebar
        div.shop__sidebar-search
          input.shop__sidebar-search__input.input(placeholder='Search...')
          include ../svgs/search.svg
        div.shop__sidebar-utils
          div.shop__sidebar-utils
            div.shop__sidebar-utils__item
              div.shop__sidebar-utils__item-title Product categories
              div.shop__sidebar-utils__item-content.sidebar-content-of-product-categories
                nb-skeleton(height='24px',width='100%',count='4')
              double-range



    include ../includes/_footer.pug
    