mixin givemeinfo()
  head
    style(type='text/css').
      .givemeinfo {
        display:flex;
        gap:10px;        
        align-items:center;
      }
  body 
    div.givemeinfo
      input(type='checkbox')
      p Keep me up to date on news and exclusive offers