@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.theme';
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$header-utils-bgcolor: #fceee7;
$text-secondary: #111;
$primary: #88b13e;
$background: #fff;
$ping: #ff95d3;
$yellow: #fec200;
$blue: #a2d4eb;
$red: #e32d2d;
$star-color: #fda72f;
$input-border-color: #888888;
$pink-white: #fff2f2;
$light-grey: #dddddd;
@mixin centered_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin space-between_flex {
  display: flex;
  justify-content: space-between;
}

@mixin button_normalize {
  background-color: transparent;
  display: grid;
  font-family: 'Jost';
  width: fit-content;
  transition: 0.24s ease-in all;

  text-transform: uppercase;
  outline: none;
  place-items: center;
  &:hover {
    cursor: pointer;
  }
}

.input {
  font-family: 'Jost';
  outline: none;
  color: $text-secondary;
  background: none;
  border: 1px solid $input-border-color;
  padding: 0.92rem;
}

.button-outlined {
  padding: 0.42rem;
  @include button_normalize;
  color: $text-secondary;
  background-color: $background;
  border-color: currentColor;

  &--active {
    background-color: $primary;
    color: $background;
  }
}

.button {
  @include button_normalize;
  letter-spacing: 4px;
  padding: 1em 2em;
  border: 1px solid $background;
  color: $background;
  &:hover {
    background-color: $background;
    color: $text-secondary;
  }
  &--contained {
    @include button_normalize;

    font-size: 1rem;
    padding: 0.6em 1.2em;

    font-weight: 600;
    letter-spacing: 1px;

    background-color: $background;
    color: $text-secondary;
    border: 1px solid transparent;

    &:hover {
      border-color: currentColor;

      color: $primary;
    }
  }
}

.icon-button {
  @include button_normalize;
  border-radius: 50%;
  width: 2.8em;
  border: 1px solid transparent;
  height: 2.8em;
  transition: 0.42s ease all;
  &:hover {
    background: $primary;
    border-color: $text-secondary;
  }
  & svg {
    width: 1.8em;
    height: 1.8em;
  }
}

.with-label {
  position: relative;
  &::before {
    font-family: 'Jost';
    content: attr(data-label);
    position: absolute;
    display: grid;
    border: 1px solid $background;

    place-items: center;
    top: -0.42rem;
    right: -0.42rem;
    width: 1.42rem;
    height: 1.42rem;
    color: $background;
    border-radius: 50%;
    background-color: $primary;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
* {
  margin: 0;
}
body {
  margin: 0;
  & div img {
    width: 100%;
  }
}
.container {
  @include centered_flex;

  @media screen and (min-width: 96rem) {
    width: 60vw;
  }
  @media screen and (min-width: 80rem) {
    width: 70vw;
  }

  @media screen and (min-width: 60rem) {
    width: 80vw;
  }

}
.social-utils {
  & svg {
    width: 1.16rem;
    height: 1.16rem;
  }
  display: flex;
  gap: 0.42rem;
}
header {
  width: 100%;
  flex-direction: column;

  @include centered_flex;
  & .utils {
    width: 100%;
    @include centered_flex;

    background-color: $header-utils-bgcolor;

    &-row {
      padding: 0.42rem 0;
      @include space-between_flex;
      &__contact-info {
        display: flex;
        & svg {
          & path {
            fill: $text-secondary;
          }
        }
        &__email {
          padding-left: 2rem;
          margin-left: 2rem;
          border-left: 2px solid $text-secondary;
          display: flex;
          align-items: center;
          gap: 0.42rem;
          p {
            font-family: 'Jost';
          }
        }
      }
      &__utils {
      }
    }
  }

  & .main {
    width: 100%;
    @include centered_flex;
    &-row {
      @include space-between_flex;
      &__links {
        display: flex;
        gap: 1rem;
        &__link-wrapper {
          cursor: pointer;
          @include centered_flex;
          padding: 0.42rem;
          height: 4rem;
          position: relative;
          &:hover {
            &::before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              width: 100%;
              height: 4px;
              background-color: $text-secondary;
            }
          }
          &--active {
            color: $primary;
            &::before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              width: 100%;
              height: 4px;
              background-color: $primary;
            }
          }
        }

        a {
          font-size: 1.2rem;
          font-family: 'Jost';
        }
      }
      &__logo {
        @include centered_flex;

        & svg {
          width: 10rem;
          & path {
            fill: $text-secondary;
          }
        }
      }
      &__utils {
        display: flex;
        align-items: center;
        gap: 1rem;
        &-hotline {
          display: flex;
          gap: 0.42rem;
          & p {
            font-family: 'Jost';
          }
          & .phone-number {
            font-weight: 600;
          }
        }
        &-buttons-container {
          display: flex;
          gap: 0.42rem;
        }
      }
    }
  }
}

.glide__bullets {
  bottom: 320px;
}
.introduction {
  position: relative;
  width: 100%;

  .wave {
    position: absolute;
    bottom: 0;
    & path {
      fill: $background;
    }
  }

  .glide__slide {
    min-height: 100vh;
    display: flex;
    align-items: center;
    &-abstraction {
      width: 42%;
    }
    &-content {
      width: 42%;
      color: $background;
      display: flex;
      flex-direction: column;
      gap: 0.42rem;
      &__caption {
        font-family: 'Jost';

        text-transform: uppercase;
        font-size: 1.24rem;
        font-weight: 600;
      }

      &__title {
        font-family: 'Lobster Two';
        font-size: 4rem;
      }

      &__text {
        font-family: 'Jost';
        margin-bottom: 4rem;
      }
    }

    &:first-child {
      background-color: #ef909a;
    }
    // &.first {
    // }
  }
  &-row {
    @include centered_flex;
  }
}

.categories {
  @include centered_flex;
  margin-bottom: 4rem;
  &-row {
    @include space-between_flex;
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.42rem;
      img {
        width: 120px;
        height: 120px;
      }
      p {
        font-family: 'Lobster Two';
        font-size: 1.42rem;
      }
    }
  }
}

.banner {
  @include centered_flex;
  margin-bottom: 4rem;
  &-row {
    color: $background;
    @include space-between_flex;
    gap: 2rem;
    &__item:first-child {
      background-color: $ping;
    }
    &__item:nth-child(2) {
      background-color: $yellow;
      width: 50%;
    }
    &__item:nth-child(3) {
      background-color: $blue;
    }
    &__item {
      padding: 6rem 2rem;

      width: 25%;
      &__caption {
        font-family: 'Jost';

        text-transform: uppercase;
        font-size: 1.24rem;
        font-weight: 600;
      }

      &__title {
        font-family: 'Lobster Two';
        font-size: 2.8rem;
      }

      &__text {
        font-family: 'Jost';
        margin-bottom: 2rem;
      }
    }
  }
}

.time {
  @include centered_flex;
  padding: 0.42rem 0.92rem;
  border: 1px solid red;
  &-item {
    display: flex;
    align-items: center;
    font-family: 'Jost';

    &__value {
      font-size: 1.6rem;
      font-weight: 600;
    }
    &__caption {
      margin-left: 0.2rem;
      padding-top: 0.2rem;
      font-size: 1rem;
    }
    &__dispencer {
      font-size: 1.2rem;
      margin: 0 0.8rem;
    }
  }
}

.specical-products {
  @include centered_flex;
  margin-bottom: 4rem;
  &-row {
    gap: 4rem;
    @include space-between_flex;
  }
  &__preview {
    width: 20%;
    & img {
      width: 100%;
      height: 424px;
    }
  }
  &__content {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;

    &-header {
      @include space-between_flex;

      &__title {
        font-size: 2.4rem;

        font-family: 'Lobster Two';
      }
    }
    &-products {
      @include space-between_flex;
      gap: 1rem;
    }
  }
}
@keyframes f {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.special-product {
  &:hover {
    background-color: $background;
    box-shadow: 0px 5px 25px rgba(138, 159, 168, 0.42);
    .special-product-content__utils,
    .special-product-content__favourite-button {
      display: flex;

      animation: 0.42s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s alternate f;
    }
  }
  transition: 0.42s ease-in-out all;
  padding-bottom: 1.42rem;

  @include centered_flex;
  flex-direction: column;

  &__stars {
    @include centered_flex;
    margin: 0.42rem 0;
    & svg {
      color: $star-color;

      width: 1.16rem;
      height: 1.16rem;
    }
  }
  &__caption {
    font-family: 'Jost';
    font-weight: 500;
    @include centered_flex;
  }

  &__price {
    @include centered_flex;
    font-size: 1.16rem;
    &-old {
      color: $input-border-color;
      font-size: 1rem;
      text-decoration: line-through;
    }
    font-family: 'Jost';
  }

  &-content {
    &__favourite-button {
      position: absolute;
      border: 1px solid $input-border-color;
      top: 8px;
      display: none;
      right: 8px;
      & svg {
        width: 1.42rem;
        height: 1.42rem;
      }
    }

    position: relative;
    & img {
      aspect-ratio: 1;
      width: 242px;
    }
    &__labels {
      @include centered_flex;
      // gap:8px;
      top: -10px;
      right: 0;
      left: 0;
      position: absolute;
      color: $background;
      font-family: 'Jost';
      & > div {
        width: fit-content;
        font-weight: 500;
        padding: 0rem 0.8rem;
        text-transform: uppercase;
      }
      &-sale {
        background-color: $red;
      }
      &-new {
        background-color: $blue;
      }
    }

    &__utils {
      @include centered_flex;

      position: absolute;
      display: none;
      button {
        border: 1px solid $light-grey;
      }
      bottom: 6px;
      right: 0;
      left: 0;
      gap: 4px;
      &-add-to-card {
        font-size: 0.96rem;
        text-transform: capitalize;
      }
      &-compare,
      &-search {
        & svg {
          width: 1.42rem;
          height: 1.42rem;
        }
      }
    }
  }
}

.workshop {
  position: relative;
  .wave {
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0;
    right: 0;
    fill: $pink-white;
  }
  @include centered_flex;

  position: relative;
  z-index: 2;
  &-row {
    background-color: $background;

    border: 1px solid $input-border-color;
    z-index: 2;
    @include space-between_flex;
  }
  &-abstraction {
    width: 42%;
    padding-left: 3.2rem;
  }

  &-content {
    padding: 3.2rem;

    width: 42%;
    &__caption {
      font-family: 'Jost';

      text-transform: uppercase;
      font-size: 1.24rem;
      font-weight: 600;
    }

    &__title {
      font-family: 'Lobster Two';
      font-size: 2.8rem;
    }

    &__text {
      font-family: 'Jost';
      margin-bottom: 2rem;
    }
    &__utils {
      @include space-between_flex;
      width: 100%;
      gap: 10px;
      flex-wrap: wrap;
      input {
        width: 44%;
      }
      textarea {
        width: 100%;
      }
    }
  }
}

.feature-products {
  background-color: $pink-white;
  padding-top: 4rem;
  @include centered_flex;
  padding-bottom: 4rem;

  &-row {
    flex-direction: column;
    @include centered_flex;
  }
  &-title {
    margin: 1rem 0;
    font-family: 'Lobster Two';
    font-size: 2.4rem;
  }
  &-tab-panel {
    @include centered_flex;
    flex-direction: column;
    .feature-products-glide {
      overflow: hidden;
      position: relative;
      .slider-prev-button {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 2px;
        margin: auto;
      }

      .slider-next-button {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 2px;
        margin: auto;
      }

      @include centered_flex;
      & > svg {
        background: $pink-white;
        @include centered_flex;
        border-radius: 50%;
        z-index: 100;
        color: $input-border-color;
        fill: currentColor;

        border: 1px solid transparent;
        &:hover {
          cursor: pointer;
          border-color: currentColor;
        }
        width: 2.8rem;
      }
      gap: 2rem;
      &__slides {
        gap: 2rem;

        @include centered_flex;
      }
      &__track {
        padding-top: 1rem;
        padding-bottom: 2rem;
        .special-product {
          padding: 0;
        }
        position: relative;
        // padding: 0 200px;
        // overflow: hidden;
        transition: 0.42s ease-in-out all;
      }
    }

    p {
      font-family: 'Jost';
      padding: 0.2rem 0.8rem;
      margin-right: 0.6rem;
      border: 1px solid $light-grey;
      background-color: $background;
      font-size: 1rem;
      margin-bottom: 2rem;

      &.selected {
        border-color: $primary;
        position: relative;
        &::before,
        &::after {
          position: absolute;
          bottom: -0.5rem;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          height: 0px;
          width: 0px;
          content: '';
        }
        &::before {
          z-index: 3;

          border-right: solid 0.52rem transparent;
          border-left: solid 0.52rem transparent;
          border-top: solid 0.52rem $primary;
        }
        &::after {
          z-index: 4;

          bottom: -0.42rem;
          border-right: solid 0.42rem transparent;
          border-left: solid 0.42rem transparent;
          border-top: solid 0.42rem $background;
        }
      }

      &:hover {
        cursor: pointer;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.benifit {
  padding: 4rem;
  @include centered_flex;
  &-row {
    @include centered_flex;
  }

  &-content {
    width: 100%;

    @include space-between_flex;
    &-item {
      @include centered_flex;
      padding: 0.42rem;
      gap: 1rem;
      p {
        font-family: 'Jost';
      }
      &__denotation {
        &-text {
          font-size: 0.92rem;
        }
        &-title {
          font-size: 1.08rem;
          font-weight: 600;
        }
      }
    }
  }
}

.call-to-action {
  background-color: pink;
  @include centered_flex;
  padding: 4rem 0 8rem 0;
  &-row {
    flex-direction: column;
    gap: 0.42rem;
    @include centered_flex;
  }

  &__caption {
    font-family: 'Jost';
    text-transform: uppercase;
    font-size: 1.16rem;
  }

  &__title {
    font-family: 'Lobster Two';

    font-size: 2.8rem;
  }
  button {
    margin-top: 1.42rem;
  }
}

.contact {
  @include centered_flex;
  margin-top: -4rem;
  &-row {
    background-color: $background;
    border-bottom: 1px solid $input-border-color;
    @include centered_flex;
  }
  .call-us {
    &__phone-number {
      margin-top: 0.8rem;
      font-family: 'Jost';
      font-weight: 800;
      font-size: 1.42rem;
    }
  }

  .subscribe {
    &__utils {
      margin-top: 0.8rem;
      @include centered_flex;
      input {
        width: 100%;
      }
      &-button {
        font-family: 'Jost';
        border: none;
        transition: 0.42s ease-out all;
        padding: 0.82rem 1.6rem;
        font-size: 1rem;
        height: 100%;
        font-weight: 500;
        // letter-spacing: 1px;
        text-transform: uppercase;
        &:hover {
          cursor: pointer;
          background-color: $text-secondary;
          color: $background;
        }
        color: $background;
        background-color: $primary;
      }
    }
  }

  &-content {
    @include space-between_flex;
    width: 100%;
    padding: 3.2rem;
    &__item {
      @include centered_flex;
      gap: 2rem;
      svg {
        width: 4.2rem;
        background-color: $pink-white;
        padding: 1.2rem;
        border-radius: 50%;
      }
      &-content {
        &__title {
          font-family: 'Lobster Two';
          font-size: 1.42rem;
          margin-bottom: 0.2rem;
        }

        &__text {
          font-family: 'Jost';
          font-size: 1rem;
        }
      }
    }
  }
}

.footer {
  @include centered_flex;
  flex-direction: column;
  &-row {
    @include centered_flex;
  }
  &-copyright {
    width: 100%;
    @include centered_flex;

    &__wrapper {
      padding: 0.8rem;
      svg {
        fill: $text-secondary;
      }
      p {
        font-family: 'Jost';
      }
      @include space-between_flex;
    }

    background-color: $light-grey;
  }
  &-content {
    padding: 4rem 0;
    width: 100%;
    @include space-between_flex;

    &-about {
      width: 33%;
      border-right: 1px solid $light-grey;
      display: flex;
      gap: 0.8rem;
      flex-direction: column;
      &__schedule {
        p {
          font-family: 'Jost';
        }
      }
      &__title {
        font-size: 2.8rem;
        font-family: 'Lobster Two';
      }
    }
    &-info {
      width: 66%;
      padding: 2rem 4rem;
      @include space-between_flex;

      // gap: 4rem;
      &__links {
        font-family: 'Jost';

        &-title {
          color: $text-secondary;
          font-weight: 600;
          font-size: 1.2rem;
          margin-bottom: 1rem;
        }
        &-content {
          display: flex;
          flex-direction: column;
          gap: 0.42rem;
          a {
            color: $input-border-color;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .email {
        margin-top: 1rem;
      }
    }
  }
}
